.filters {
  &__row {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
    justify-content: flex-end;
    min-width: 0;
  }

  &__select {
    width: 180px;
    flex-shrink: 0;
  }

  &__search {
    width: 220px;
    flex-shrink: 0;
  }
}
